/* all dom */
*{
	padding: 0;
	margin: 0;
	border: none;
	font-size: 1.5625vw;
	font-family: "Microsoft YaHei";
}
html,
body{
	width: 100%;
	height: 100%;
}
/* all dom --end*/ 

/* music -start-*/ 
#music{
	position: fixed;
	top: 3vh;
	right: 4vw;
	z-index: 101;

	width: 15vw;
	height: 15vw;
	border: 4px solid #ef1639;
	border-radius: 50%;
	background-color: #fff;
}
#music > img:first-of-type{
	position:absolute;
	top: 24%;
	right: 2.5%;
	width: 28.421%;
	z-index:102;
}
#music > img:last-of-type{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:79%;
	margin:auto;
}
#music > img.play{
	-webkit-animation: music_play 3s linear infinite;
	animation: music_play 3s linear infinite;
}
@keyframes music_play{
	0% {
			 	transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	100% {
				transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

/* music -end-*/ 

/* page -start- */
.page{
	position: relative;
	width:100%;
	height:100%;
}
.page > .bg{
	position:absolute;
	width:100%;
	height:100%;

	z-index:-1;
}
/* page -end- */
/* page1 -start-*/ 
#page1 > .bg{
	background-image: url(../images/p1_bg.jpg);
	background-size: 100%;
}
#page1 > .p1_lentern{
	top: -2.5%;
	left:0;
	top:0;
	bottom:0;
	right:0;
	width: 45vw;
	height:71.2vh;
	margin: auto;
	font-size:3.506rem;
	padding-top:28vh;

	background-image: url(../images/p1_lantern.png);
	background-size:100%;

	text-align: center;
	box-sizing: border-box;
}
#page1 > .p1_lentern::before{
	position:absolute;
	left:0;
	top:-34%;
	bottom:0;
	right:0;
	border:0;
	margin:auto;
	height:30vw;
	width:30vw;

	z-index:-1;
	content: "";

	background-color:#555;

	opacity: 0.5;

	box-shadow: 0 0 10vw 10vw #555;
	border-radius:50%;
	-webkit-animation: lentern 0.5s infinite alternate;
	animation: lentern 0.5s infinite alternate;
}
@keyframes lentern {
	0% {
		opacity: 0.5;
		-webkit-transform: scale(.8);
		transform: scale(.8);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
#page1 > .p1_imooc {
	position:absolute;
	left:0;
	right:0;
	bottom: 9vh;
	margin:auto;

	background-image:url(../images/p1_imooc.png);
	background-size:100%;

	width:27.656vw;
	height:18.63vh;
}
#page1 > .p1_words {
	position:absolute;
	left:0;
	right:0;
	bottom: 5vh;
	margin:auto;

	text-align:center;
	color: #000;

	font-size: 2.1rem;
}
/* page1 -end-*/

/* page2 -start-*/ 
#page2 > .bg{
	background-image: url(../images/p2_bg.jpg);
	background-size: 100%;
}
#page2 > .p2_circle {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-image:url(../images/p2_circle_outer.png);
	background-size: 100%;
	width: 59.357vw;
	height: 59.357vw;
	-webkit-animation: out_circle 3S linear 1S infinite;
	animation: out_circle 3S linear 1S infinite;
} 
@keyframes out_circle{
	0% {
		transform: rotate(0deg);
		-webkit-transform:rotate(0deg);
	}
	100% {
		transform: rotate(-1080deg);
		-webkit-transform:rotate(-1080deg);
	}
}
#page2 > .p2_circle::before {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;

	content: "";

	background-image:url(../images/p2_circle_middle.png);
	background-size: 100%;
	width: 45.625vw;
	height: 45.625vw;
	-webkit-animation: middle_circle 3S linear 1S infinite;
	animation: middle_circle 3S linear 1S infinite;
} 
@keyframes middle_circle{
	0% {
		transform: rotate(0deg);
		-webkit-transform:rotate(0deg);
	}
	100% {
		transform: rotate(-720deg);
		-webkit-transform:rotate(-720deg);
	}
}
#page2 > .p2_circle::after {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;

	content: "";

	background-image:url(../images/p2_circle_inner.png);
	background-size: 100%;
	width: 39.937vw;
	height: 39.937vw;
	-webkit-animation: inner_circle 3S linear 2S infinite;
	animation: inner_circle 3S linear 2S infinite;
} 
@keyframes inner_circle{
	0% {
		transform: rotate(0deg);
		-webkit-transform:rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
		-webkit-transform:rotate(-360deg);
	}
}
#page2 > .p2_2016 {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;

	background-image: url(../images//p2_2016.png);
	background-size: 100%;
	width: 27.5vw;
	height: 6.25vh;
}
/* page2 -end-*/

/* page3 -start-*/ 
#page3 > .bg{
	background-image: url(../images/p3_bg.jpg);
	background-size: 100%;
}
#page3 > .p3_logo {
	position: absolute;
	top:19.82vw;
	right: 0;
	left: 0;
	margin: auto;

	background-image: url(../images/p3_logo.png);
	background-size: 100%;

	width: 34.6875vw;
	height:6.375vh;
}
#page3 > .p3_title {
	position: absolute;
	top:21vh;
	right: 0;
	left: 0;
	margin: auto;

	background-image: url(../images/p3_title.png);
	background-size: 100%;

	width: 48.125vw;
	height:50vh;
	-webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
	-o-animation: name duration timing-function delay iteration-count direction fill-mode;
	animation: name duration timing-function delay iteration-count direction fill-mode;
}
#page3 > .p3_couplet_first {
	position: absolute;
	top:25.38vh;
	right: 3.75vw;

	background-image: url(../images/p3_couplet_first.png);
	background-size: 100%;

	width: 22.8125vw;
	height:41.652vh;
}
#page3 > .p3_couplet_second {
	position: absolute;
	top:25.38vh;
	left: 3.75vw;
	
	background-image: url(../images/p3_couplet_second.png);
	background-size: 100%;

	width: 22.8125vw;
	height:41.652vh;
}
#page3 > .p3_blessing {
	position: absolute;
	right: 0;
	bottom: 10vw;
	left: 0;

	margin: auto;

	background-image: url(../images/p3_blessing.png);
	background-size: 100%;

	width: 32vw;
	height: 32vw;
	-webkit-animation: blessing 3S linear infinite;
	animation: blessing 3S linear infinite;
} 
@keyframes blessing{
	0% {
		transform: rotate(0deg);
		-webkit-transform:rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
		-webkit-transform:rotate(-360deg);
	}
}
/* page3 -end-*/ 